@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="col-sm-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
    @if (TempData["Erro"] != null)
    {
        @Html.Partial("_PartialErro")
    }
    <fieldset id="PageLogin">
        <legend>Login</legend>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <section class="col-sm-6 col-sm-offset-3 col-xs-12">
                @Html.Label("nome_aluno", "Primeiro Nome Aluno:")
                @Html.TextBox("nome_aluno", null, new { @class = "form-control" })
            </section>
            <section class="col-sm-4 col-sm-offset-3 col-xs-12">
                @Html.Label("senha_aluno", "Senha:")
                @Html.Password("senha_aluno", null, new { @class = "form-control" })
            </section>
            <section class="col-sm-12 col-xs-12">
                <input type="submit" name="login" id="btnLogin" value="Login" class="btn btn-primary col-sm-4 col-sm-offset-3 col-xs-12" />
            </section>
        }
    </fieldset>
</div>


